#extended-netflix {
    list-style-type:none;
}

#extended-netflix .callout-arrow {
    bottom: 0;
    border-color: transparent transparent #000;
    opacity: 0;
    transition: all .2s;
    visibility: hidden;
}

.extended-netflix-heading, #extended-netflix-menu hr {
    cursor: default;
    list-style-type: none;
}

#extended-netflix:hover #extended-netflix-menu, #extended-netflix:hover .callout-arrow {
    visibility:visible;
    opacity: .9;
}

.extended-netflix-item a {
    display: block;
}

.extended-netflix-item:hover, .extended-netflix-item:hover .sub-menu-link {
    color: #E50914;
}

#extended-netflix-list {
    padding: 0 10px 10px 30px;
}

#extended-netflix-menu {
    background-color: #000000;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    height: 400px;
    opacity: 0;
    position: absolute;
    transition: all .2s;
    visibility: hidden;
}

.extended-netflix-list-wrapper {
    height: 346px;
    overflow-x:hidden;
    position: absolute;
    width: 100%;
}

#extended-netflix-menu hr {
    left: -10px;
    position: relative;
    width: 100%;
}

#extended-netflix-search-container {
    margin: 16px 16px 5px;
    width: calc(100% - 32px);
}

.extended-netflix-title {
    color:#E50914;
    font-size:16px;
    font-weight:700;
}
